.nav-item a{
    font-size: 20px;
}
#sidebar{
    min-height: 80vh;
    text-align: center;
}
.conteudo{
    position: absolute;
    float:right;
    width:-webkit-calc(100% - 250px - 5rem);
}
.cadastro{
    border: solid;
    border-color: #378cfa;
}