.nav-item a{
    font-size: 16px;
}
#sidebar{
    min-height: 80vh;
    text-align: center;
}
.conteudo{
    position: absolute;
    float:right;
    width:-webkit-calc(100% - 250px - 5rem);
}
.cadastro{
    border: solid;
    border-color: #378cfa;
}
#navbarsuperior li:hover{
    transform: scale(1.2);
}
.formattext{
    text-align: justify;
    font-size: 18px;
}