.nav-item a{
    font-size: 20px;
}
#sidebar{
    min-height: 80vh;
    text-align: center;
}
#sidebar div h3{
    margin-top: 4%;
    border-bottom: 1px solid;
}
.conteudo{
    position: absolute;
    float:right;
    width:-webkit-calc(100% - 250px - 5rem);
}